SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://example.com

# Must match scopes in shopify.app.toml
SCOPES=read_customers,read_discounts,read_orders,read_products,read_validations,write_cart_transforms,write_customers,write_discounts,write_validations

DATABASE_URL=
